<nav *ngIf="contentLoaded | async" class="navbar navbar-light navbar-expand-lg">
  <ul>
    <li>
      <a routerLink="/">{{ headerContent.home }}</a>
    </li>
    <li>
      <a routerLink="/resume">{{ headerContent.resume }}</a>
    </li>
    <li>
      <a routerLink="/interest">{{ headerContent.interests }}</a>
    </li>
    <li>
      <a routerLink="/contact">{{ headerContent.contact }}</a>
    </li>
  </ul>

  <button (click)="isMenuCollapsed != isMenuCollapsed" class="navbar-toggler ml-5" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

  </button>
</nav>
