<nav class="navbar navbar-light navbar-expand-lg">
  <ul>
    <li>
      <a routerLink="/">HOME</a>
    </li>
    <li>
      <a routerLink="/resume">RESUME</a>
    </li>
    <li>
      <a routerLink="/interest">INTERESTS</a>
    </li>
    <li>
      <a routerLink="/contact">CONTACT</a>
    </li>
  </ul>

  <button (click)="isMenuCollapsed != isMenuCollapsed" class="navbar-toggler ml-5" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

  </button>
</nav>
