<section>
  <h1>Janis Schneeberger</h1>

  <p>Mein Name ist Janis Schneeberger. Ich studiere Medizin an der Medizinischen Universität Wien und schließe parallel meinen
    Bachelor in Software Engineering an der Technischen Universität Wien ab. Ich würde mich selbst als engagierten Studenten bezeichnen,
    da ich mich immer freue etwas neues zu lernen. Besonders bin ich an Wissenschaft und Forschung interessiert und hoffe später
    einmal selbst in diesem Berufsfeld arbeiten zu dürfen</p>

</section>
