/* Hero Section */
.hero-section {
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 2.5rem;
  color: var(--primary-cl);
}

.hero-text h2 {
  font-size: 5rem;
  color: var(--primary-cl);
  font-weight: bold;
}

.hero-text p {
  font-size: 1.5rem;
  color: var(--primary-cl);
}

.button-group {
  margin-top: 20px;
}

/* Buttons */

.btn-secondary {
  margin-left: 15px;
  background-color: transparent;
  border: 2px solid var(--secondary-cl);
  color: var(--secondary-cl);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-secondary:hover {
  background-color: var(--tertiary-cl);
  color: white;
}

/* Hero Image */
.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.profile-picture {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 30vw;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column-reverse;
  }

  .profile-picture {
    width: 60vw;
  }

  .hero-image {
    margin-bottom: 5vh;
  }

  .hero-section {
    margin-bottom: 10vh;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-text h1, h2, p {
    text-align: center;
  }
}
