<section *ngFor="let interest of interestsContent; let i = index" class="interest-section" id="interest{{i + 1}}"> <!-- TODO remove id -->
  <div [ngClass]="i%2 === 0 ? 'content interest-img-left' : 'content interest-img-right'">
    <div class="image-container">
      <input *ngFor="let j of [1, 2, 3]" type="radio" name="slider-{{i + 1}}" id="item-{{i + 1}}-{{j}}" [checked]="j === 1">

      <div class="cards">
        <label *ngFor="let j of [1, 2, 3]" class="card" id="img-{{i + 1}}-{{j}}" for="item-{{i+1}}-{{j}}">
          <img src="{{interest.images[j-1]}}" alt="Placeholder"> <!-- TODO alternative image text -->
        </label>
      </div>

    </div>
    <div class="interest-text">
      <h2>{{interest.title}}</h2>
      <p>{{interest.text}}</p>
    </div>
  </div>
</section>
