<section id="contact-form-section">
  <form class="container" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <h1>Get in touch!</h1>

    <div class="row form-group">
      <label for="name">Name*</label>
      <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
             formControlName="name">
      <small *ngIf="contactForm.controls['name'].touched && contactForm.controls['name'].errors?.['required']">Name is required</small>
    </div>

    <div class="row form-group">
      <label for="mail">E-Mail*</label>
      <input type="text" name="mail" class="form-control" id="mail" placeholder="E-Mail address"
             formControlName="mail">
      <small *ngIf="contactForm.controls['mail'].touched && contactForm.controls['mail'].errors?.['required']">E-Mail is required</small>
      <small *ngIf="contactForm.controls['mail'].value !== '' && contactForm.controls['mail'].errors?.['email']">Value must be a valid E-Mail address</small>
    </div>

    <div class="row form-group">
      <label for="phone">Phone Number</label>
      <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone number"
             formControlName="phone">
    </div>

    <div class="row form-group">
      <label for="message">Message*</label>
      <textarea rows="10" name="message" class="form-control" id="message" placeholder="Your Message"
                formControlName="message"></textarea>
      <small *ngIf="contactForm.controls['message'].touched && contactForm.controls['message'].errors?.['required']">Message is required</small>
    </div>

    <button type="submit" class="btn btn-light">Submit Message</button>
  </form>

  <div *ngIf="submitted && !error" class="success-message">
    <p>Thank you{{contactInformation?.name ? ' ' + contactInformation?.name : ''}}! Your message has been successfully submitted.</p>
    <p>I will get in touch with you shortly!</p>
  </div>
  <div *ngIf="submitted && error" class="error-message">
    <p>There was an error on my side. Please contact me directly using my E-Mail or Phone!</p>
  </div>
</section>
