<section *ngIf="textContent" id="contact-form-section">
  <form class="container" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <h1>{{textContent.header}}</h1>

    <div class="row form-group">
      <label for="name">{{textContent.name.label}}</label>
      <input type="text" name="name" class="form-control" id="name" placeholder="{{textContent.name.placeholder}}"
             formControlName="name">
      <small *ngIf="contactForm.controls['name'].touched && contactForm.controls['name'].errors?.['required']">{{textContent.name.required}}</small>
    </div>

    <div class="row form-group">
      <label for="mail">{{textContent.mail.label}}</label>
      <input type="text" name="mail" class="form-control" id="mail" placeholder="{{textContent.mail.placeholder}}"
             formControlName="mail">
      <small *ngIf="contactForm.controls['mail'].touched && contactForm.controls['mail'].errors?.['required']">{{textContent.mail.required}}</small>
      <small *ngIf="contactForm.controls['mail'].value !== '' && contactForm.controls['mail'].errors?.['email']">{{textContent.mail.email}}</small>
    </div>

    <div class="row form-group">
      <label for="phone">{{textContent.phone.label}}</label>
      <input type="text" name="phone" class="form-control" id="phone" placeholder="{{textContent.phone.placeholder}}"
             formControlName="phone">
    </div>

    <div class="row form-group">
      <label for="message">{{textContent.message.label}}</label>
      <textarea rows="10" name="message" class="form-control" id="message" placeholder="{{textContent.message.placeholder}}"
                formControlName="message"></textarea>
      <small *ngIf="contactForm.controls['message'].touched && contactForm.controls['message'].errors?.['required']">{{textContent.message.required}}</small>
    </div>

    <button type="submit" class="btn btn-light">{{textContent.submit}}</button>
  </form>

  <div *ngIf="submitted && !error" class="success-message">
    <p>{{textContent.success.part1}}{{contactInformation?.name ? ' ' + contactInformation?.name : ''}}{{textContent.success.part2}}</p>
    <p>{{textContent.success.part3}}</p>
  </div>
  <div *ngIf="submitted && error" class="error-message">
    <p>{{textContent.error}}</p>
  </div>
</section>
