<footer>
  <div *ngIf="contentLoaded | async" class="footer-container">
    <!-- Contact Information -->
    <div class="contact-info">
      <h3>{{ footerContent.name }}</h3>
      <p>Email: <a href="mailto:janis.schneeberger@outlook.com">{{mail}}</a></p>
      <p>Phone: <a href="tel:+4367761637144">+43 677 61637144</a></p>
      <a href="/contact">{{ footerContent.contact }}</a>
    </div>

    <!-- Social Media Links -->
    <div class="social-media">
      <a href="https://www.instagram.com/yourprofile" target="_blank">
        <img src="../../assets/logo-instagram.png" alt="Instagram">
      </a>
      <a href="https://www.linkedin.com/in/yourprofile" target="_blank">
        <img src="../../assets/logo-linked-in.png" alt="LinkedIn">
      </a>
      <a href="https://www.github.com/yourprofile" target="_blank">
        <img src="../../assets/logo-git-hub.png" alt="GitHub">
      </a>
    </div>
  </div>
</footer>
