<div class="cv-container">
  <section id="cv-header">
    <h1>Janis Schneeberger</h1>
    <div class="cv-content">
      <div class="profile-pic">
        <img src="assets/profile_photo.jpg" alt="Profile Picture">
      </div>
      <div class="about-me">
        <h2>About Me</h2>
        <p>I am a dedicated Software Engineering student with a passion for backend
          engineering, security, and building reliable systems. My academic journey
          has equipped me with a strong foundation in software engineering
          principles, and I am keen to apply and deepen these skills in real-world
          scenarios.</p>
      </div>
    </div>
  </section>
  <section id="work-experience">
    <h2 class="timeline-header">Work Experience</h2>
    <p class="section-summary">During my time as I student I always wanted to apply my learned skills in practice
      and thus already gathered some work experience.</p>
    <app-employment-history></app-employment-history>
  </section>
  <section id="education">
    <h2 class="timeline-header">Education</h2>
    <p class="section-summary">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <app-education-history></app-education-history>
  </section>

  <section id="skills-section">
    <h2>Technical Skills</h2>

    <div *ngFor="let skill of skills" class="skill">
      <span>{{skill.name}}</span>
      <div class="progress-bar">
        <div class="progress" [ngStyle]="{ 'width.%': skill.level }"></div>
      </div>
    </div>
  </section>

</div>
